<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="radioOptions" type="java.lang.Object"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="java.lang.Object"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/forms/questionPage :: questionPage(#{${title}}, ${formModel}, ~{::#form-content}, ${backUrl}, ${sectionHeaderInfo})}">
<th:block id="form-content">
    <th:block id="fieldset-content"
              th:replace="~{fragments/forms/fieldSet :: fieldSet(content=~{::#fieldset-content/content()}, fieldName='correspondenceEmailOption', fieldSetHeading=#{registerProperty.correspondenceEmail.heading}, fieldSetHint=#{registerProperty.correspondenceEmail.hint}, conditionalFieldName='differentEmailAddress')}">
        <th:block th:replace="~{fragments/forms/radios :: radios(null,'correspondenceEmailOption',null, ${radioOptions})}"></th:block>
    </th:block>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{forms.buttons.saveAndContinue})}"></button>
</th:block>
</html>
