<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="uk.gov.communities.prsdb.webapp.models.requestModels.formModels.EnterPasswordFormModel"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="addressLines" type="java.util.List"*/-->
<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{lettingAgentInvitation.title}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, null)}">
    <span class="govuk-caption-l" th:text="#{lettingAgentInvitation.caption}">lettingAgentInvitation.caption</span>
    <h1 class="govuk-heading-l" th:text="#{lettingAgentInvitation.enterPassword.heading}">lettingAgentInvitation.enterPassword.heading</h1>
    <p class="govuk-body">
        <th:block th:replace="~{fragments/multiLineText :: multiLineText(${addressLines})}"></th:block>
    </p>
    <div th:replace="~{fragments/forms/passwordInput :: passwordInput(#{lettingAgentInvitation.enterPassword.password.label}, 'password', null, 'current-password', 'govuk-visually-hidden')}"></div>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{lettingAgentInvitation.enterPassword.submit})}"></button>
    <details id="details" th:replace="~{fragments/details :: details(#{lettingAgentInvitation.enterPassword.details.summary}, ~{::#details/content()})}">
        <div class="govuk-details__text">
            <p class="govuk-body" th:text="#{lettingAgentInvitation.enterPassword.details.intro}">lettingAgentInvitation.enterPassword.details.intro</p>
            <h2 class="govuk-heading-m" th:text="#{lettingAgentInvitation.enterPassword.details.heading}">lettingAgentInvitation.enterPassword.details.heading</h2>
            <p class="govuk-body" th:text="#{lettingAgentInvitation.enterPassword.details.listIntro}">lettingAgentInvitation.enterPassword.details.listIntro</p>
            <ol class="govuk-list govuk-list--number">
                <li th:text="#{lettingAgentInvitation.enterPassword.details.step.one}">lettingAgentInvitation.enterPassword.details.step.one</li>
                <li th:text="#{lettingAgentInvitation.enterPassword.details.step.two}">lettingAgentInvitation.enterPassword.details.step.two</li>
                <li><span th:text="#{lettingAgentInvitation.enterPassword.details.step.three.textOne}"></span><span class="govuk-!-font-weight-bold" th:text="#{lettingAgentInvitation.enterPassword.details.step.three.boldOne}"></span><span th:text="#{lettingAgentInvitation.enterPassword.details.step.three.textTwo}"></span><span class="govuk-!-font-weight-bold" th:text="#{lettingAgentInvitation.enterPassword.details.step.three.boldTwo}"></span><span th:text="#{lettingAgentInvitation.enterPassword.details.step.three.textThree}"></span></li>
                <li><span th:text="#{lettingAgentInvitation.enterPassword.details.step.four.textOne}"></span><span class="govuk-!-font-weight-bold" th:text="#{lettingAgentInvitation.enterPassword.details.step.four.boldOne}"></span><span th:text="#{lettingAgentInvitation.enterPassword.details.step.four.textTwo}"></span><span class="govuk-!-font-weight-bold" th:text="#{lettingAgentInvitation.enterPassword.details.step.four.boldTwo}"></span><span th:text="#{lettingAgentInvitation.enterPassword.details.step.four.textThree}"></span></li>
            </ol>
        </div>
    </details>
</html>
