<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="uk.gov.communities.prsdb.webapp.models.requestModels.formModels.SetPasswordFormModel"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="addressLines" type="java.util.List"*/-->
<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{lettingAgentInvitation.title}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, null)}">
    <span class="govuk-caption-l" th:text="#{lettingAgentInvitation.caption}">lettingAgentInvitation.caption</span>
    <h1 class="govuk-heading-l" th:text="#{lettingAgentInvitation.setPassword.heading}">lettingAgentInvitation.setPassword.heading</h1>
    <p class="govuk-body">
        <span th:text="#{lettingAgentInvitation.setPassword.intro}">lettingAgentInvitation.setPassword.intro</span>
    </p>
    <p class="govuk-body">
        <th:block th:replace="~{fragments/multiLineText :: multiLineText(${addressLines})}"></th:block>
    </p>
    <p class="govuk-body" th:text="#{lettingAgentInvitation.setPassword.explanation}">lettingAgentInvitation.setPassword.explanation</p>
    <div th:replace="~{fragments/insetText :: insetText('lettingAgentInvitation.setPassword.warning')}"></div>
    <div th:replace="~{fragments/forms/passwordInput :: passwordInput(#{lettingAgentInvitation.setPassword.password.label}, 'password', #{lettingAgentInvitation.setPassword.password.hint}, 'new-password', null)}"></div>
    <div th:replace="~{fragments/forms/passwordInput :: passwordInput(#{lettingAgentInvitation.setPassword.confirmPassword.label}, 'confirmPassword', null, 'new-password', null)}"></div>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{lettingAgentInvitation.setPassword.submit})}"></button>
</html>
