<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="uk.gov.communities.prsdb.webapp.models.requestModels.formModels.SetPasswordFormModel"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="heading" type="java.lang.String"*/-->
<!--/*@thymesVar id="passwordLabel" type="java.lang.String"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{${title}}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, null)}">
    <h1 class="govuk-heading-l" th:text="#{${heading}}">heading</h1>
    <div class="govuk-form-group">
        <label class="govuk-label" for="password" th:text="#{${passwordLabel}}">Password</label>
        <input class="govuk-input" id="password" name="password" type="text" th:value="${formModel.password}">
    </div>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{${submitButtonText}})}"></button>
</html>
