<!--/*@thymesVar id="propertyDetails" type="uk.gov.communities.prsdb.webapp.models.viewModels.summaryModels.LettingAgentPropertyDetailsViewModel"*/-->
<!--/*@thymesVar id="complianceDetails" type="uk.gov.communities.prsdb.webapp.models.viewModels.summaryModels.propertyComplianceViewModels.PropertyComplianceViewModel"*/-->
<!DOCTYPE html>
<html id="main-content" th:replace="~{fragments/layout :: layout(#{propertyDetails.lettingAgentView.title}, ~{::#main-content/content()}, false)}">
    <main class="govuk-main-wrapper">
        <div id="page-contents" class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <th:block th:if="${updateSuccessBanner != null}" th:with="isSuccess=true">
                    <div id="update-success-banner"
                         th:insert="~{fragments/banners/notificationBanner ::
                        notificationBanner(#{propertyDetails.updateSuccessBanner.title}, ~{::#update-success-banner/content()})}"
                         th:with="isSuccess=true">
                        <p class="govuk-notification-banner__heading" th:text="#{${updateSuccessBanner}}">
                            propertyDetails.updateSuccessBanner
                        </p>
                    </div>
                </th:block>
                <span class="govuk-caption-l" th:text="#{propertyDetails.lettingAgentView.caption}">propertyDetails.lettingAgentView.caption</span>
                <h1 class="govuk-heading-l">
                    <th:block th:replace="~{fragments/multiLineText :: multiLineText(${propertyDetails.addressParts})}"></th:block>
                </h1>

                <div id="provide-details-inset" th:if="${propertyDetails.showProvideDetailsInset}"
                     class="govuk-inset-text" th:utext="${propertyDetails.provideDetailsInsetText}">
                    propertyDetails.lettingAgentView.provideDetailsInset
                </div>

                <h2 class="govuk-heading-m" th:text="#{propertyDetails.lettingAgentView.licensing.heading}">propertyDetails.lettingAgentView.licensing.heading</h2>
                <dl th:if="${not #lists.isEmpty(propertyDetails.licensingSection)}"
                    th:replace="~{fragments/summaryList :: summaryList(${propertyDetails.licensingSection})}"></dl>

                <h2 class="govuk-heading-m" th:text="#{propertyDetails.lettingAgentView.tenancy.heading}">propertyDetails.lettingAgentView.tenancy.heading</h2>
                <dl th:if="${not #lists.isEmpty(propertyDetails.tenancySection)}"
                    th:replace="~{fragments/summaryList :: summaryList(${propertyDetails.tenancySection})}"></dl>

                <div id="compliance-certificates">
                    <h2 class="govuk-heading-m" th:text="#{propertyDetails.lettingAgentView.complianceCertificates.heading}">propertyDetails.lettingAgentView.complianceCertificates.heading</h2>

                    <div th:replace="~{fragments/summaryCard :: summaryCardWithAdditionalContent(${complianceDetails.gasSafetySummaryCard.title}, null, ${complianceDetails.gasSafetySummaryCard.actions}, ${complianceDetails.gasSafetySummaryCard.summaryList}, ~{fragments/insetTextWithSectionBreak :: insetTextWithSectionBreak(${complianceDetails.gasSafetySummaryCard.insetViewModel?.messageKey})})}"></div>

                    <div th:replace="~{fragments/summaryCard :: summaryCardWithAdditionalContent(${complianceDetails.electricalSafetySummaryCard.title}, null, ${complianceDetails.electricalSafetySummaryCard.actions}, ${complianceDetails.electricalSafetySummaryCard.summaryList}, ~{fragments/insetTextWithSectionBreak :: insetTextWithSectionBreak(${complianceDetails.electricalSafetySummaryCard.insetViewModel?.messageKey})})}"></div>

                    <div th:replace="~{fragments/summaryCard :: summaryCardWithAdditionalContent(${complianceDetails.epcSummaryCard.title}, null, ${complianceDetails.epcSummaryCard.actions}, ${complianceDetails.epcSummaryCard.summaryList}, ~{fragments/epcAdditionalContent :: epcAdditionalContent(${complianceDetails.epcSupplementarySections}, ${complianceDetails.epcSummaryCard.insetViewModel?.messageKey}, ${complianceDetails.epcExpiredInsetViewModel})})}"></div>
                </div>

                <div th:replace="~{fragments/content/feedbackSurveyPanel :: feedbackSurveyPanel(
                    #{common.confirmationPage.feedback.heading},
                    #{propertyDetails.lettingAgentView.feedback.body},
                    ${lettingAgentPropertyDetailsSurveyUrl})}">
                </div>
            </div>
        </div>
    </main>
</html>
