<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="uk.gov.communities.prsdb.webapp.models.viewModels.SectionHeaderViewModel"*/-->
<!--/*@thymesVar id="propertyName" type="java.lang.String"*/-->
<!--/*@thymesVar id="aboutPropertyHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="propertyDetails" type="java.lang.Object"*/-->
<!--/*@thymesVar id="ownershipAndLandlordsHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="ownershipAndLandlordsRows" type="java.util.List"*/-->
<!--/*@thymesVar id="correspondenceRows" type="java.util.List"*/-->
<!--/*@thymesVar id="occupancyDetails" type="java.lang.Object"*/-->
<!--/*@thymesVar id="rentedOutHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="rentedOutLicensingHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="rentedOutLicensingRows" type="java.util.List"*/-->
<!--/*@thymesVar id="rentedOutGasHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="gasSupplyRows" type="java.util.List"*/-->
<!--/*@thymesVar id="gasCertRows" type="java.util.List"*/-->
<!--/*@thymesVar id="gasInsetTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="rentedOutElectricalHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="electricalRows" type="java.util.List"*/-->
<!--/*@thymesVar id="electricalInsetTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="rentedOutEpcHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="epcCardTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="epcCardActions" type="java.util.List"*/-->
<!--/*@thymesVar id="epcCardRows" type="java.util.List"*/-->
<!--/*@thymesVar id="epcExpiredTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="tenancyCheckRows" type="java.util.List"*/-->
<!--/*@thymesVar id="lowRatingTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="exemptionReasonRows" type="java.util.List"*/-->
<!--/*@thymesVar id="nonEpcRows" type="java.util.List"*/-->
<!--/*@thymesVar id="epcInsetTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="rentedOutTenancyHeadingKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="rentedOutTenancyRows" type="java.util.List"*/-->
<!--/*@thymesVar id="tenancyUnoccupiedBodyTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="submittedFilteredJourneyData" type="java.lang.String"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!--/*@thymesVar id="warningTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="insetText" type="java.lang.String"*/-->
<!--/*@thymesVar id="lettingAgentDelegation" type="java.util.List"*/-->
<!--/*@thymesVar id="lettingAgentDelegationBodyText" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="showLettingAgentDelegationUnoccupiedPanel" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="hideDelegatedSections" type="java.lang.Boolean"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/forms/complexQuestionPage :: complexQuestionPage(#{${title}}, ${formModel}, ~{::#form-content}, ~{::#question-content}, ${backUrl}, ${sectionHeaderInfo})}">
    <th:block id="question-content">
        <h1 class="govuk-heading-xl">
            <span th:text="#{forms.checkPropertyAnswers.headingPrefix}"></span>
            <br>
            <span th:text="${propertyName}"></span>
        </h1>
        <th:block th:if="${insetText == true}">
            <p class="govuk-inset-text" th:text="#{forms.update.cya.insetText}">forms.update.cya.insetText</p>
        </th:block>
        <h2 class="govuk-heading-l" th:text="#{${aboutPropertyHeadingKey}}"></h2>
        <h3 class="govuk-heading-m" th:text="#{forms.checkPropertyAnswers.propertyDetails.heading}"></h3>
        <dl th:replace="~{fragments/summaryList :: summaryList(${propertyDetails})}"></dl>
        <th:block th:if="${!#lists.isEmpty(ownershipAndLandlordsRows)}">
            <h3 class="govuk-heading-m" th:text="#{${ownershipAndLandlordsHeadingKey}}"></h3>
            <dl th:replace="~{fragments/summaryList :: summaryList(${ownershipAndLandlordsRows})}"></dl>
        </th:block>
        <th:block th:if="${!#lists.isEmpty(correspondenceRows)}">
            <h3 class="govuk-heading-m"
                th:text="#{registerProperty.taskList.aboutYourProperty.correspondence}">registerProperty.taskList.aboutYourProperty.correspondence</h3>
            <dl th:replace="~{fragments/summaryList :: summaryList(${correspondenceRows})}"></dl>
        </th:block>
        <th:block th:if="${!#lists.isEmpty(occupancyDetails)}">
            <h3 class="govuk-heading-m" th:text="#{forms.checkPropertyAnswers.occupancy.heading}"></h3>
            <dl th:replace="~{fragments/summaryList :: summaryList(${occupancyDetails})}"></dl>
        </th:block>
        <h2 class="govuk-heading-l" th:text="#{${rentedOutHeadingKey}}"></h2>
        <th:block th:if="${!#lists.isEmpty(lettingAgentDelegation)}">
            <h3 class="govuk-heading-m" th:text="#{forms.checkPropertyAnswers.lettingAgentDelegation.subheading}"></h3>
            <p th:if="${lettingAgentDelegationBodyText == true}" class="govuk-body" th:text="#{forms.checkPropertyAnswers.lettingAgentDelegation.bodyText}"></p>
            <dl th:replace="~{fragments/summaryList :: summaryList(${lettingAgentDelegation})}"></dl>
        </th:block>
        <th:block th:if="${showLettingAgentDelegationUnoccupiedPanel == true}">
            <h3 class="govuk-heading-m" th:text="#{forms.checkPropertyAnswers.lettingAgentDelegation.subheading}"></h3>
            <article id="letting-agent-delegation-unoccupied-panel"
                     th:replace="~{fragments/ticketPanel :: ticketPanel(null, ~{::#letting-agent-delegation-unoccupied-panel/content()}, null)}">
                <p class="govuk-body" th:text="#{forms.checkPropertyAnswers.lettingAgentDelegation.unoccupiedBodyText}"></p>
            </article>
        </th:block>
        <th:block th:if="${hideDelegatedSections != true}">
            <h3 class="govuk-heading-m" th:text="#{${rentedOutLicensingHeadingKey}}"></h3>
            <dl th:replace="~{fragments/summaryList :: summaryList(${rentedOutLicensingRows})}"></dl>
            <h3 class="govuk-heading-m" th:text="#{${rentedOutGasHeadingKey}}"></h3>
            <dl th:replace="~{fragments/summaryList :: summaryList(${gasSupplyRows})}"></dl>
            <th:block th:if="${gasCertRows != null and !gasCertRows.isEmpty()}">
                <h4 class="govuk-heading-m" th:text="#{checkGasSafety.certSubHeading}"></h4>
                <dl th:replace="~{fragments/summaryList :: summaryList(${gasCertRows})}"></dl>
            </th:block>
            <th:block th:if="${gasInsetTextKey != null}">
                <div class="govuk-inset-text" th:text="#{${gasInsetTextKey}}"></div>
            </th:block>
            <h3 class="govuk-heading-m" th:text="#{${rentedOutElectricalHeadingKey}}"></h3>
            <dl th:replace="~{fragments/summaryList :: summaryList(${electricalRows})}"></dl>
            <th:block th:if="${electricalInsetTextKey != null}">
                <div class="govuk-inset-text" th:text="#{${electricalInsetTextKey}}"></div>
            </th:block>
        </th:block>
        <th:block th:if="${hideDelegatedSections != true}">
            <h3 class="govuk-heading-m" th:text="#{${rentedOutEpcHeadingKey}}"></h3>
            <th:block th:if="${epcCardTitle != null}">
                <div th:replace="~{fragments/summaryCard :: summaryCard(#{${epcCardTitle}}, null, ${epcCardActions}, ${epcCardRows})}"></div>
            </th:block>
            <p th:if="${epcExpiredTextKey != null}" class="govuk-body" th:text="#{${epcExpiredTextKey}}"></p>
            <th:block th:if="${!#lists.isEmpty(tenancyCheckRows)}">
                <dl th:replace="~{fragments/summaryList :: summaryList(${tenancyCheckRows})}"></dl>
            </th:block>
            <p th:if="${lowRatingTextKey != null}" class="govuk-body" th:utext="#{${lowRatingTextKey}}"></p>
            <th:block th:if="${!#lists.isEmpty(exemptionReasonRows)}">
                <dl th:replace="~{fragments/summaryList :: summaryList(${exemptionReasonRows})}"></dl>
            </th:block>
            <th:block th:if="${!#lists.isEmpty(nonEpcRows)}">
                <dl th:replace="~{fragments/summaryList :: summaryList(${nonEpcRows})}"></dl>
            </th:block>
            <div th:if="${epcInsetTextKey != null}" class="govuk-inset-text">
                <p class="govuk-body" th:text="#{${epcInsetTextKey}}"></p>
            </div>
        </th:block>
        <th:block th:if="${hideDelegatedSections != true}">
            <th:block th:if="${!#lists.isEmpty(rentedOutTenancyRows) or tenancyUnoccupiedBodyTextKey != null}">
                <h3 class="govuk-heading-m"
                    th:classappend="${tenancyUnoccupiedBodyTextKey != null and #lists.isEmpty(rentedOutTenancyRows)} ? 'govuk-!-margin-bottom-0' : ''"
                    th:text="#{${rentedOutTenancyHeadingKey}}"></h3>
                <dl th:if="${!#lists.isEmpty(rentedOutTenancyRows)}" th:replace="~{fragments/summaryList :: summaryList(${rentedOutTenancyRows})}"></dl>
                <p th:if="${tenancyUnoccupiedBodyTextKey != null}" class="govuk-body" th:text="#{${tenancyUnoccupiedBodyTextKey}}"></p>
                <hr th:if="${tenancyUnoccupiedBodyTextKey != null and #lists.isEmpty(rentedOutTenancyRows)}"
                    class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">
            </th:block>
        </th:block>
        <div th:replace="~{fragments/warningText :: warningText(#{${warningTextKey}})}">forms.update.warning</div>
    </th:block>
    <th:block id="form-content">
        <input type="hidden" name="submittedFilteredJourneyData" th:value="${submittedFilteredJourneyData}"/>
        <button th:replace="~{fragments/buttons/transactionSubmitButton :: transactionSubmitButton(#{${submitButtonText}})}"></button>
    </th:block>
</html>
